:root {
  --primary: #b6895b;
  --bg: #010101;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  font-family: "poppins", sans-serif;
  background-color: var(--bg);
  color: #fff;
}

/* navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: rgb(1, 1, 1, 0.8);
  border-bottom: 1px solid #5b4a38;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .navbar-logo {
  font-size: 3rem;
  font-weight: 690;
  color: #fff;
  font-style: italic;
}

.navbar .navbar-nav a {
  color: #fff;
  display: inline-block;
  font-size: 1.8rem;
  margin: 0 1rem;
  /* border-radius: 1.25rem; */
  /* padding: 6px 15px;
  border-radius: 20px;
  margin: 0 1rem;
  font-weight: 700;
  font-size: 1rem; */
}

.navbar .navbar-nav a:hover {
  /* background: var(--primary); */
  color: var(--primary);
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--primary);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

.navbar .navbar-extra a {
  color: #fff;
  margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
  color: var(--primary);
}

.navbar .navbar-logo span {
  color: var(--primary);
}

#coffee-menu {
  display: none;
}

/* Navbar search form */
.navbar .search-form {
  position: absolute;
  top: 100%;
  right: 7%;
  background-color: #fff;
  width: 50rem;
  height: 5rem;
  display: flex;
  align-items: center;
  transform: scaleY(0);
  transform-origin: top;
  transition: 0.3s;
}

.navbar .search-form.active {
  transform: scaleY(1);
}

.navbar .search-form input {
  height: 100%;
  width: 100%;
  font-size: 1.7rem;
  color: var(--bg);
  padding: 1.2rem;
}

.navbar .search-form label {
  cursor: pointer;
  font-size: 2.2rem;
  margin-right: 1.5rem;
  color: var(--bg);
}

/* hero section */

.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url(../img/last.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 30%;
  bottom: 0;
  background: linear-gradient(
    0deg,
    rgba(1, 1, 3, 1) 9%,
    rgba(255, 255, 255, 0) 50%
  );
}

.hero .content {
  padding: 1.4rem 7%;
  max-width: 60rem;
}

.hero .content h1 {
  font-size: 4.8em;
  color: #fff;
  text-shadow: 1px 1px 3px rgb(1, 1, 3, 0.5);
  line-height: 1.2;
}

.hero .content h1 span {
  color: var(--primary);
}

.hero .content p {
  font-size: 1.7rem;
  margin-top: 1rem;
  line-height: 1.4;
  font-weight: 100;
  text-shadow: 1px 1px 3px rgba(2, 3, 1, 0.5);
  mix-blend-mode: difference;
}

.hero .content .cta {
  margin-top: 3rem;
  display: inline-block;
  padding: 1.8rem 3.6rem;
  font-size: 2rem;
  color: #fff;
  background-color: var(--primary);
  border-radius: 0.8rem;
  box-shadow: 1px 1px 3px rgb(1, 1, 3, 0.5);
}

.hero .content .cta:hover {
  background-color: #fff;
  color: var(--bg);
}

/* about section */
.about,
.menu,
.contact {
  padding: 8rem 0 0;
}

.about h2,
.menu h2,
.contact h2 {
  text-align: center;
  font-size: 2.8rem;
  margin-bottom: 3rem;
}

.about h2 span,
.menu h2 span,
.contact h2 span {
  color: var(--primary);
}

.about .row {
  display: flex;
}

.about .row .about-img {
  flex: 1 1 45rem;
}

.about .row .about-img img {
  width: 100%;
}

.about .row .content {
  flex: 1 1 35rem;
  padding: 0 2rem;
}

.about .row .content h3 {
  font-size: 2.1rem;
  margin-bottom: 1rem;
  margin-left: 1.3rem;
}

.about .row .content p {
  margin-bottom: 0.8rem;
  font-size: 1.5rem;
  font-weight: 110;
  line-height: 1.6rem;
  margin-left: 1.3rem;
}

/* Menu Section */
.menu h2,
.contact h2 {
  margin-bottom: 1rem;
}

.menu p,
.contact p {
  text-align: center;
  font-weight: 100;
  margin: auto;
  max-width: 30rem;
  line-height: 1.6;
  margin-bottom: 4rem;
}

.menu .row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5rem;
  justify-content: center;
}

.menu .row .menu-card {
  text-align: center;
  padding-bottom: 4rem;
}

.menu .menu-card-img {
  border-radius: 50%;
  width: 80%;
}

.menu .menu-card .menu-card-title {
  margin: 1rem auto 0.5rem;
  font-size: 1.7rem;
}
.menu .menu-card .menu-card-title p {
  font-size: 1.4rem;
  color: #eee;
}

/* contact section */
.contact .row {
  display: flex;
  margin-top: 5rem;
  background-color: #222;
}

.contact .row .map {
  flex: 1 1 45rem;
  width: 100%;
  object-fit: cover;
}

.contact .row form {
  flex: 1 1 45rem;
  padding: 4rem 2rem;
  text-align: center;
}
.contact .row form .input-group {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  background-color: var(--bg);
  border: 1px solid #eee;
  padding: 2rem;
}
.contact .row form .input-group input {
  width: 100%;
  padding: 2rem;
  font-size: 1.7rem;
  background: none;
  color: #fff;
}
.contact .row form .btn {
  margin-top: 2.2rem;
  display: inline-block;
  padding: 2.5rem 5rem;
  font-size: 1.8rem;
  color: #fff;
  background-color: var(--primary);
  border-radius: 0.5rem;
  cursor: pointer;
}
.contact .row form .btn:hover {
  background-color: #fff;
  color: var(--bg);
}

/* footer */
footer {
  width: 100%;
  margin: 4.5rem 0 0 0;
  background-color: var(--primary);
  padding: 2rem 0; /* atau sesuai kebutuhan */
  text-align: center;
}

footer .socials {
  padding: 1rem 0;
}

footer .socials a {
  color: #fff;
  margin: 0.8rem;
}

footer .socials a:hover {
  color: var(--bg);
}

footer .links {
  margin-bottom: 1.4rem;
}

footer .links a {
  color: #fff;
  padding: 0.7rem 1rem;
}

footer .links a:hover {
  color: var(--bg);
}

footer .credit a {
  color: var(--bg);
  font-weight: 700;
}

/* media queries */

/* Dekstop */
@media screen and (min-width: 992px) {
  html {
    font-size: 75%;
  }
}
/* Tablet */
@media screen and (max-width: 991px) {
  html {
    font-size: 62.5%;
  }

  #coffee-menu {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -200%;
    background-color: #fff;
    width: 30rem;
    height: 100vh;
    transition: 0.4s;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }
  .navbar .navbar-nav a {
    color: var(--bg);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }

  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }

  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.2);
    right: 2.5rem;
  }

  .navbar .search-form {
width: 90%;

  }
  

  .about .row {
    flex-wrap: wrap;
  }

  .about .row .about-img img {
    height: 24rem;
    object-fit: cover;
    object-position: center;
  }

  .about .row .content {
    padding: 0;
  }

  .about .row .content h3 {
    margin-top: 1rem;
    font-size: 1.6rem;
    right: 2rem;
  }

  .menu p {
    font-size: 1.2rem;
  }

  .contact .row {
    flex-wrap: wrap;
  }
  .contact .row .map {
    height: 30rem;
  }
  .contact .row form {
    padding-top: 0;
  }
}

/* mobile */
@media only screen and (max-device-width: 480px) {
  html {
    font-size: 58.5%;
  }
}
